@model JACR__20241103.Models.Empleado

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        background-color: lightblue;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="container">
    <h1 class="mt-4">Eliminar Empleado</h1>

    <div class="mt-4">
        <h3>¿Estás seguro de que deseas eliminar este empleado?</h3>
        <hr />
        <h4>Detalles del Empleado:</h4>
        <dl class="row">
            <dt class="col-sm-4">Nombre:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>
            <dt class="col-sm-4">Apellido:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Apellido)</dd>
            <dt class="col-sm-4">Edad:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Edad)</dd>
            <dt class="col-sm-4">Departamento:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Departamento)</dd>
            <dt class="col-sm-4">Salario:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Salario)</dd>
        </dl>
    </div>

    <div class="mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </form>
    </div>
</div>
